<%= form_with(model: post, local: true, html: {id: 'post-form'}) do |form| %>
  <%= form.collection_select(:category,
                             Category.all.order(:title),
                             :title,
                             :title,
                              @post.present? ? { prompt: 'Select a Category', selected: @post.present? } : { prompt: 'Select a Category' },
                             required: true) %>
  <%= form.text_field(:title, placeholder: 'Enter a Title', required: true) %>
  <%= form.text_area(:description, placeholder: 'Enter a Description', required: true) %>
  <%= form.text_field(:tag_list, placeholder: 'Enter Space-Separated Tags', required: false) %>

  <script src="https://cdn.tiny.cloud/1/<%= ENV['TINYMCE_API_KEY'] %>/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
      tinymce.init({
          codesample_content_css: "prism.css",
          codesample_languages: [
              {text: 'Java', value: 'java'},
          ],
          contextmenu: false,
          elementpath: false,
          entity_encoding: "raw",
          extended_valid_elements : "script[src|async|defer|type|charset]",
          height: 600,
          menubar: false,
          plugins: "advlist autolink code codesample fullscreen image lists link media paste",
          selector: ".tinymce",
          setup: function (editor) {
              editor.on("change", function(e) {
                  editor.save();
              });

              editor.on("NodeChange", function(e) {
                  // Ensure all images are lazily loaded.
                  if (e.element.tagName === "IMG") {
                      e.element.setAttribute("loading", "lazy");
                  }
              })
          },
          toolbar: "fullscreen | image media link codesample | h2 bold italic underline strikethrough removeformat | bullist numlist | code"
      });
  </script>
  <%= form.text_area(:body_html, value: post.body_html, class: 'tinymce', required: true) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% if post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
