<% cache(@post) do %>
  <% content_for(:title, @post.title) %>
  <% content_for(:description, @post.description) %>
  <% content_for(:keywords, @post.tag_list.join(', ')) %>
  <% content_for(:author, @post.user.name) %>
<% end %>

<article>
  <header>
    <h1><%= @post.title %></h1>
    <div>
      <% cache(@post) do %>
        <% if @post.created_at != @post.updated_at %>
          Published <%= render(partial: 'partials/timestamp', locals: {timestamp: @post.created_at}) %> &#8212;
          Edited <%= render(partial: 'partials/timestamp', locals: {timestamp: @post.updated_at}) %>
        <% else %>
          Published <%= render(partial: 'partials/timestamp', locals: {timestamp: @post.created_at}) %>
        <% end %>
      <% end %>

      <% if can?(:edit, @post) %>
        <%= link_to("Edit", edit_post_path(@post)) %>
      <% end %>

      <% if can?(:destroy, @post) %>
        <%= link_to("Delete", @post, method: :delete, data: {confirm: "Delete this post?"}) %>
      <% end %>
    </div>
  </header>

  <% cache(@post) do %>
    <%= @post.body_html.html_safe %>

    <div>
      <a class="post-tag" href="<%= posts_path(category: @post.category.title) %>">
        <%= @post.category.title %>
      </a>

      <% unless @post.tag_list.length.zero? %>
        <% @post.tag_list.sort.each do |tag| %>
          <a class="post-tag" href="<%= posts_path(search: tag) %>"><%= tag %></a>
        <% end %>
      <% end %>
    </div>
  <% end %>
</article>

<% cache(@post) do %>
  <div id="disqus_thread"></div>
  <script>
      const disqus_config = function () {
        this.page.identifier = "<%= @post.title %>";
        this.page.title = "<%= @post.id %>";
        this.page.url = "<%= post_path(@post) %>";
      };

      (function() {
          const d = document, s = d.createElement('script');
          s.src = 'https://valkryst.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
<% end %>