<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %><title><%= yield(:title) %></title><% end %>

    <% if content_for?(:author) %><meta name="author" content="<%= yield(:author) %>"><% end %>
    <% if content_for?(:description) %><meta name="description" content="<%= yield(:description) %>"><% end %>
    <% if content_for?(:keywords) %><meta name="keywords" content="<%= yield(:keywords) %>"><% end %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= auto_discovery_link_tag(:rss, posts_url(format: :rss)) %>

    <%= favicon_link_tag(asset_path('favicon.png')) %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render('partials/navigation_bar') %>
    <main>
      <%= yield %>
    </main>

    <footer>
      &copy; Copyright 2014-<%= Date.today.year %> Valkryst, All Rights Reserved
    </footer>
  </body>
</html>
